@charset "UTF-8";


/*Md geral*/

@media all {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;

    }

    html,
    body {
        height: 100vh;
        width: 97.8vw;

    }

    body {
        background-color: #26EB3A;

    }

    h1#h1_pri {
        margin: 27px 0px 40px 0px;

        text-align: center;

    }

    main {
        max-width: 1000px;
        min-width: 320px;
        margin: auto;
        padding: 10px;


        background-color: white;
        text-indent: 13px;
        text-align: justify;
        line-height: 1.7em;
    }

    article {
        margin: 10px 0px 20px 0px;

    }

    p {
        font-size: 1.2em;

    }
}

    /*Modo retrato*/
@media screen and (orientation: portrait) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;

    }

    html,
    body {
        height: 100vh;
        width: 97.8vw;

    }

    body {
        background-color: #eb2626;

    }

    h1#h1_pri {
        margin: 27px 0px 40px 0px;

        text-align: center;

    }

    main {
        max-width: 1000px;
        min-width: 320px;
        margin: auto;
        padding: 10px;


        background-color: white;
        text-indent: 13px;
        text-align: justify;
        line-height: 1.7em;
    }

    article {
        margin: 10px 0px 20px 0px;

    }

    p {
        font-size: 1.2em;

    }

}


    /*Modo paisagem!*/
@media screen and (orientation: landscape) {

    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;

    }

    html,
    body {
        height: 100vh;
        width: 97.8vw;

    }

    body {
        background-color: #eb26c4;

    }

    h1#h1_pri {
        margin: 27px 0px 40px 0px;

        text-align: center;

    }

    main {
        max-width: 1000px;
        min-width: 320px;
        margin: auto;
        padding: 10px;


        background-color: white;
        text-indent: 13px;
        text-align: justify;
        line-height: 1.7em;
    }

    article {
        margin: 10px 0px 20px 0px;

    }

    p {
        font-size: 1.2em;

    }

}