@charset "UTF-8";


/*Aparelho deitado*/



* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;

}

html,body {
    width: 100vw;
    height: 100vh;

    background-color: #2222ff;
}

body{
    background-image: url(../images/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;

}

h1 {
    color: white;
    text-shadow: 2px 2px 0px rgb(9, 12, 79);

}

