@charset "UTF-8";




body{
    background-image: url("imagens/espaco.jpg");
    margin: auto;
    max-width: 100px;
    min-width: 320px;
}
picture > img{
    display: block;
    margin: auto
    
}
